.row {
    /* display: flex;
flex-direction: row;
align-items: stretch;
padding: 0px;
isolation: isolate; */

/* width: 1215px;
min-height: 200px; */

}
.timeslot-container {
    /* display: flex;
flex-direction: row; */
/* align-items: stretch; */
/* align-self: stretch; */

}
.slds-col{
    flex:0 0 0;
}
.custom-box {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
}